[submodule "zshconfig/.config/zsh/plugins/zsh-autosuggestions"]
	path = zshconfig/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zshconfig/.config/zsh/plugins/zsh-completions"]
	path = zshconfig/.config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zshconfig/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zshconfig/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zshconfig/.config/zsh/plugins/zsh-auto-notify"]
	path = zshconfig/.config/zsh/plugins/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
[submodule "zshconfig/.config/zsh/plugins/autoenv"]
	path = zshconfig/.config/zsh/plugins/autoenv
	url = https://github.com/hyperupcall/autoenv.git
[submodule "zshconfig/.config/zsh/plugins/fzf-marks"]
	path = zshconfig/.config/zsh/plugins/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks.git
[submodule "zshconfig/.config/zsh/plugins/fzf-tab"]
	path = zshconfig/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
