mutt/.config/mutt/keybinding
home/.newsboat/cache*
home/.newsboat/history*
.gitconfig-local
.mind/
vv

.repro

git.yazi

helix/.config/helix/runtime

.session.vim

connections.json

.lastd

.cspell
wuzz
.p10k.zsh

mpd/.config/mpd/playlist/*

.zcompdump
.chpwd-recent-dirs
.suave

home/.local/bin/wezterm

lazy-lock.json

poetry

vifm/.config/vifm/vifminfo

systemd/.config/systemd/user/*
!systemd/.config/systemd/user/backupin.service
!systemd/.config/systemd/user/backupin.timer
!systemd/.config/systemd/user/orgnotif.service
!systemd/.config/systemd/user/orgnotif.timer

lazygit/.config/lazygit/state.yml

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

Code/.config/Code/*
Code/.config/Code/User/*
!/Code/.config/Code/User/keybindings.json
!/Code/.config/Code/User/settings.json

tmuxconfig/.tmux/plugin*
tmuxconfig/.tmux/resurrect
fonts/.local/share/gem
fonts/.local/share/nvim
fonts/.local/share/virtualenv

.uuid
*.pyc
*.log
*.bak
*.bak2
*.db
tags

.cache.db
.cache.db.lock
packer_compiled.lua

.scratch.note
tmp
nvim/.config/nvim/scratch_config.json
home/.w3m/cookie
home/.w3m/history
