mutt/.config/mutt/keybinding
home/.newsboat/cache*
home/.newsboat/history*
.gitconfig-local
.mind/
vv

.session.vim

wuzz

Obsidian*
obsidian*

mpd/.config/mpd/playlist/*

# zshconfig/.config/zsh/plugins

.zcompdump
.chpwd-recent-dirs
.suave

home/.local/bin/wezterm

lazy-lock.json

poetry

vifm/.config/vifm/vifminfo

systemd/.config/systemd/user/*
!systemd/.config/systemd/user/backupin.service
!systemd/.config/systemd/user/backupin.timer
!systemd/.config/systemd/user/orgnotif.service
!systemd/.config/systemd/user/orgnotif.timer

fish/.config/fish/fish_variables
fishd.tmp.*

fish/.config/fish/completions
fish/.config/fish/conf.d/*
!fish/.config/fish/conf.d/pure.fish
fish/.config/fish/functions/*
!fish/.config/fish/functions/_pure*
!fish/.config/fish/functions/fish_prompt.fish
!fish/.config/fish/functions/fish_user_key_bindings.fish

lazygit/.config/lazygit/state.yml

home/.local/bin/kitty
home/.local/bin/LICENSE
home/.local/bin/README.*
home/.local/bin/glow
home/.local/bin/fd
home/.local/bin/dropbox
home/.local/bin/deno
home/.local/bin/nvim

mpd/.config/mpd/mpd.pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql

Code/.config/Code/*
!Code/.config/Code/User/keybindings.json
!Code/.config/Code/User/settings.json

tmuxconfig/.tmux/plugin*
tmuxconfig/.tmux/resurrect
fonts/.local/share/gem
fonts/.local/share/nvim
fonts/.local/share/virtualenv

.uuid
*.pyc
*.log
*.bak
*.bak2
*.db
tags

.cache.db
.cache.db.lock
packer_compiled.lua

.scratch.note

home/.local/bin/kitty

tmp

home/.local/bin/neovide
