mutt/.config/mutt/keybinding
home/.newsboat/cache*
home/.newsboat/history*
.gitconfig-local

tmuxconfig/.tmux/plugin*
tmuxconfig/.tmux/resurrect
fonts/.local/share/gem
fonts/.local/share/nvim
fonts/.local/share/virtualenv

.uuid
*.pyc
*.log
*.back
*.db
tags

.cache.db
.cache.db.lock

.scratch.note
