
! # vim: foldmethod=marker foldlevel=0 ft=xdefaults

! --------------------------------------------
!░░░░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀ +
!░░░░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█ +
!░▀░░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀ +
! --------------------------------------------
!

! themes
#include ".config/miscxrdb/xresource-theme/terafox"

! --------------
! XFT SETTINGS
! --------------
Xft.dpi:                    96
Xft.antialias:              true
! Xft.antialias:              0
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintmedium
Xft.lcdfilter:              lcddefault
Xft.autohint:               0

xterm*iconName:Terminal
xterm*eightBitInput:    false
xterm*cursorBlink:      false
xterm*faceName: JetBrainsMonoNL NF
xterm*cursorOffTime:    300
xterm*metaSendsEscape:  true
xterm*faceSize: 10
xterm*title:    Terminal
xterm*cursorOnTime:     300
xterm*utf8:     1
xterm*geometry: 110x31
!xterm*cursorUnderLine:  true
XTerm*scaleHeight: 0.80
xterm*saveLines:	0
!xterm*termName:		xterm-256color
xterm*bellIsUrgent:	true
xterm*decTerminalID	:	vt340

! Transparancy (0 - 255)
! sudah dihandle sama compton
! *.alpha:    245

xterm*font: fixed
xterm*boldFont: fixed

! ------------------------------------------------------------
! TERMINAL MODE
! ------------------------------------------------------------

#include ".config/miscxrdb/terminal/st/st"
#include ".config/miscxrdb/terminal/urxvt/urxvt"
