#!/bin/bash

# _gen_fzf_default_opts() {
#
#     # --files: List files that would be searched but do not search
#     # --no-ignore: Do not respect .gitignore, etc...
#     # --hidden: Search hidden files and folders
#     export FZF_DEFAULT_COMMAND='rg --files --no-ignore-vcs --hidden --smart-case'
#
#     export FZF_DEFAULT_OPTS='
#         --bind ctrl-a:toggle-all,ctrl-l:clear-query,ctrl-d:preview-down,ctrl-u:preview-up,ctrl-n:down,ctrl-p:up,ctrl-g:top,F3:toggle-preview,ctrl-f:half-page-down,ctrl-b:half-page-up
#     --color=bg+:%%color_selection_bg%%,fg+:%%color_selection_fg%%,hl+:%%color_selection_hl%%,gutter:%%color_gutter%%,pointer:%%color_pointer%%
#     --color=bg:%%color_bg%%,fg:%%color_fg%%,hl:%%color_hl%%,border:%%color_border%% --height=65%
#         --preview "bat --style=plain --color=always {}" --preview-window right:50%:hidden:wrap --border --reverse
#     --cycle --prompt=" " --pointer "󰁕 "'
# }
#
# _gen_fzf_default_opts
# --bind='ctrl-d:preview-up' \
# --bind='ctrl-u:preview-down' \
# --bind='ctrl-l:clear-screen' \
# --bind='ctrl-g:top' \

export FZF_MOVEMENT="--bind='ctrl-p:page-up+refresh-preview' \
          --bind='ctrl-n:page-down+refresh-preview' \
          --bind='ctrl-l:forward-char' \
          --bind='ctrl-h:backward-char' \
          --bind='ctrl-f:forward-word' \
          --bind='ctrl-b:backward-word' \
          --bind='ctrl-a:toggle-all' \
          --bind='alt-s:toggle-sort' \
          --bind='alt-p:toggle-preview' \
          --bind='alt-y:yank' \
          --bind='alt-g:ignore' \
          --bind='ctrl-u:preview-up' \
          --bind='ctrl-d:preview-down' \
          --bind='page-up:preview-up' \
          --bind='page-down:preview-down'"

export FZF_DEFAULT_COMMAND="rg -uu --files -H"
export FZF_ALT_COMMAND="fd -uu -t f"

# --exact \
# --preview-window 'right:50%:hidden:cycle' \
# --height=60% \
export FZF_DEFAULT_OPTS="$FZF_MOVEMENT \
  --bind='ctrl-h:execute(moreman {})' \
  --bind='ctrl-v:execute(nvimpager {})' \
  --tiebreak='length,index' \
  --preview-window 'right:50%:hidden:cycle' \
  --info='inline' \
  --cycle \
  --reverse \
  --border \
  --prompt=' ' \
  --pointer='󰁕 ' \
  --multi \
  --ansi \
  --color=info:1 \
  --color=prompt:2 \
  --color=gutter:%%color_gutter%% \
  --color=pointer:%%color_pointer%% \
  --color=marker:6 \
  --color=spinner:7 \
  --color=header:8 \
  --color=preview-fg:11 \
  --color=border:%%color_border%% \
  --color=fg:%%color_fg%% \
  --color=bg:%%color_bg%% \
  --color=hl:%%color_hl%% \
  --color=fg+:%%color_selection_fg%% \
  --color=bg+:%%color_selection_bg%% \
  --color=hl+:%%color_selection_hl%%"
