function _gen_fzf_default_opts() {

    # --files: List files that would be searched but do not search
    # --no-ignore: Do not respect .gitignore, etc...
    # --hidden: Search hidden files and folders
    export FZF_DEFAULT_COMMAND='rg --files --no-ignore-vcs --hidden --smart-case'

    # export FZF_DEFAULT_COMMAND='rg --no-heading --hidden --follow --no-ignore-vcs --smart-case '

    export FZF_DEFAULT_OPTS='
    --bind ctrl-a:toggle-all,ctrl-l:clear-query,ctrl-d:preview-down,ctrl-u:preview-up,ctrl-n:down,ctrl-p:up,ctrl-g:top,F4:toggle-preview
    --color=bg:#1f1f28,fg:,hl:#e82424 --height=40%
    --color=bg+:#363646,fg+:#dcd7ba,hl+:#e82424,gutter:#1f1f28,pointer:#76946a
    --preview "echo {}" --preview-window down:4:hidden:wrap --border --reverse
    --cycle --prompt="> "'

}

_gen_fzf_default_opts
