* {
  all: unset;
  transition: 200ms ease-out;
}

.bar {
  font-family: $altfont;
  font-size: 1.1rem;
  // margin: -2;
  margin: 1px 1.2px 1px 1px;
  background-color: $bg;
  color: $fg;
  border-radius: 20px;
  // opacity: 0.92; @TODO one day
}

.logo {
  font-family: inherit;
  .icon {
    font-size: 1.5rem;
    padding: 1em 1em 1em;
    color: $altblue;
  }
}

.icon {
  margin: 1px 5px 1px 1px;
  border-radius: 10px;
  color: $blue;
  font-family: $altfont;
  font-size: 1.4rem;
  // padding: 1px 1px 1px 1px;
}

.texting {
  font-family: inherit;
  font-size: 1rem;
}

tooltip {
  font-family: $altfont;
  background-color: $fg2;
  border-radius: 15px;
  min-height: 7px;
  min-width: 70px;
  font-size: 1.5em;
  color: $bg;
}

// ========================
// WORKSPACES
// ========================

.left-menu-button {
  padding: 0px 12px;
  border-radius: 7px;
}

.ws {
  background-color: $black;
  border-radius: 20px;
  // padding: 1em 0.5em;
  font-size: 1.5em;
  font-family: $altfont;

  button {
    margin: 0px 3px;
    color: $blue;
  }

  .occupied {
    color: $blue;
  }

  .focused {
    color: $red;
  }

  .urgent {
    color: $magenta;
  }

  &:hover {
    color: $fg2;
  }
}

// .time-label {
//   border-radius: 7px;
// }
//

// scale trough {
//   all: unset;
//   background-color: $foreground;
//   border-radius: 5px;
//   min-height: 7px;
//   min-width: 70px;
// }
//
// .volume-slider trough highlight {
//   background-color: $color1;
//   border-radius: 5px;
// }

// ========================
// TIME
// ========================

.clock {
  // background-color: $altbg;
  border-radius: 15px;
  padding: 8px 2px 0 2px;
  font-size: 1.3em;
  color: $fg2;
}

.hour {
  font-size: 1.4em;
  font-weight: bolder;
}
.min {
  font-size: 1.1em;
  font-weight: bold;
}

// ========================
// POWER MENU // SHUTDOWN
// ========================

.power-button {
  //background-color: $red;
  margin: 1em 1.2em 1em 1em;
  // margin: 15px 2px;

  // padding: 0em;
  color: $red;
  border-radius: 2px;
  font-size: 1.2em;
}
