@import "colors/colorsdock.rasi"

* {
    background-color:       @background;
    text-color:             @border;
}

window {
    width:      		        660px;
    padding:    		        25px;
    border:					        1px;
    border-radius:          10px;
    transparency:           "screenshot";
    border-color:           @border;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				        true;
    text-color:				      @border;
}
