[Unit]
Description=Notify from Nvim-Org

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart="/home/mr00x/.config/miscxrdb/bin/myorgnotif"

[Install]
WantedBy=default.target
