.date-container {
  font-family: "JetBrainsMono Nerd Font";
  padding: 10px;
  background-color: $green;
  border-radius: 10px;
  color: $red;
}

.date {
  font-size: 2rem;
}

.time {
  font-size: 1rem;
}
