.profile {
  background-color: $magenta;
  padding: 30px 25px;
  color: $green;
  border-radius: 10px;
  font-family: "SF Mono";
}

.profile-pic {
  background-image: url("/home/mr00x/Downloads/index.png");
  background-color: $fg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: top;
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
  margin-bottom: 40px;
}
